.current__project {
  width: 30%;

  p {
    padding-bottom: 0.8rem;
  }

  .current__details {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    border-radius: 40px;
    background: var(--secondary-color);

    .project__logo {
      display: flex;
      width: 4rem;

      img {
        width: 100%;
      }
    }

    .project__content {
      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--primary-color);
      }
    }

    .project__preview {
      padding: 1rem;
      border-left: 2px solid var(--primary-color);
      cursor: pointer;

      .preview__icon {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--primary-color);
      }
    }
  }
}
